<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
      		name="ASM Designer (GEF)"
      		class="org.asmeta.visualdesigner.views.GefDesignView"
      		id="org.asmeta.visualdesigner.views.GefDesignView">
	  </view>
   </extension>

</plugin>