<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            id="org.asmeta.visualdesigner.views.DesignView"
            name="ASM Designer"
            class="org.asmeta.visualdesigner.views.DesignView">
      </view>
   </extension>

</plugin>