/.AvallaDescriptionLabelProvider.java._trace
/.AvallaDescriptionLabelProvider.xtendbin
/.AvallaLabelProvider.java._trace
/.AvallaLabelProvider.xtendbin
/AvallaDescriptionLabelProvider.java
/AvallaLabelProvider.java
