/.DefinitionChecker.java._trace
/.DefinitionChecker.xtendbin
/.RuleChecker.java._trace
/.RuleChecker.xtendbin
/.SharedCheckers.java._trace
/.SharedCheckers.xtendbin
/.StructureChecker.java._trace
/.StructureChecker.xtendbin
/.TermChecker.java._trace
/.TermChecker.xtendbin
/DefinitionChecker.java
/RuleChecker.java
/SharedCheckers.java
/StructureChecker.java
/TermChecker.java
