/.AvallaXtParsingBlockTest.java._trace
/.AvallaXtParsingBlockTest.xtendbin
/.AvallaXtParsingCheckTest.java._trace
/.AvallaXtParsingCheckTest.xtendbin
/.AvallaXtParsingExecTest.java._trace
/.AvallaXtParsingExecTest.xtendbin
/.AvallaXtParsingImportTest.java._trace
/.AvallaXtParsingImportTest.xtendbin
/.AvallaXtParsingInvariantTest.java._trace
/.AvallaXtParsingInvariantTest.xtendbin
/.AvallaXtParsingSetTest.java._trace
/.AvallaXtParsingSetTest.xtendbin
/AvallaXtParsingBlockTest.java
/AvallaXtParsingCheckTest.java
/AvallaXtParsingExecTest.java
/AvallaXtParsingImportTest.java
/AvallaXtParsingInvariantTest.java
/AvallaXtParsingSetTest.java
/AvallaXtParsingPickTest.java
