/.DomainCalculator.java._trace
/.DomainCalculator.xtendbin
/.DomainCalculatorBackup.java._trace
/.DomainCalculatorBackup.xtendbin
/.DomainTree.java._trace
/.DomainTree.xtendbin
/.ErrorType.java._trace
/.ErrorType.xtendbin
/.Utility.java._trace
/.Utility.xtendbin
/.WarningType.java._trace
/.WarningType.xtendbin
/DomainCalculator.java
/DomainCalculatorBackup.java
/DomainTree.java
/ErrorType.java
/Utility.java
/WarningType.java
