<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="asmeta.ai.propgen.ui.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="asmeta.ai.propgen.ui.commands.category"
            name="Sample Command"
            id="asmeta.ai.propgen.ui.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="asmeta.ai.propgen.ui.handlers.AsmetaAIHandler"
            commandId="asmeta.ai.propgen.ui.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="asmeta.ai.propgen.ui.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="asmeta.plugin.menus.Asmeta"
               label="Asmeta">
         <menu
               label="AsmetaAI"
               id="asmeta.animator.ui.menus.AsmetaAI">
            <command
                  commandId="asmeta.ai.propgen.ui.commands.sampleCommand"
                  id="asmeta.ai.propgen.ui.menus.sampleCommand"
                  icon="incons/sample.png" 
                  tooltip="AsmetaAI">
            </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="asmeta.animator.ui.toolbar">
            <command
                  id="asmeta.ai.propgen.ui.toolbars.sampleCommand"
                  commandId="asmeta.ai.propgen.ui.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="AsmetaAI">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="asmeta.plugin.preferences"
            class="asmeta.ai.propgen.ui.preferences.AsmetaAIPreferencePage"
            id="asmeta.ai.propgen.ui.preferences.AsmetaAIPreferencePage"
            name="AsmetaAI">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="asmeta.ai.propgen.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
