<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
   	   id="org.asmeta.atgt.asmSpec"
   	   name="ATGT Asmeta"
	   delegate="org.asmeta.atgt.generator.ui.AsmTSGeneratorLaunchConfiguration"
	   modes="run">
   </launchConfigurationType>
</extension>
<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="org.asmeta.atgt.asmSpec"
        class="org.asmeta.atgt.generator.ui.AsmTSGeneratorLaunchTabGroup"
        id="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.AsmTSGeneratorTab">
    </launchConfigurationTabGroup>
</extension>
<extension
    point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        class="org.asmeta.atgt.generator.ui.AsmTSGeneratorLaunchShortcut"
        icon="icons/gears.png"
        id="org.asmeta.atgt.shortcut"
        label="ATGT test generator"
        modes="run">
        <contextualLaunch>
            <enablement>
                <with
                    variable="selection">
                    <count
                        value="+">
                    </count>
                    <iterate operator="and">
			            <adapt type="org.eclipse.core.resources.IFile">
			              <test property="org.eclipse.core.resources.extension"
			                    value="asm">
			              </test>
			            </adapt>
			          </iterate>
                </with>
            </enablement>
        </contextualLaunch>
    </shortcut>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
            category="asmeta.plugin.preferences"
         class="org.asmeta.atgt.ui.preferences.ATGTPreferencePage"
         id="org.asmeta.atgt.ui.preferences.ATGTPreferencePage"
         name="ATGT Preferences">
   </page>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer
         class="org.asmeta.atgt.ui.preferences.PreferenceInitializer">
   </initializer>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <category
         id="asmeta.atgt.ui.commands.category"
         name="Asmeta Category">
   </category>
   <command
         categoryId="asmeta.atgt.ui.commands.category"
         id="asmeta.atgt.ui.commands.sampleCommand"
         name="Run ATGT Command">
   </command>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="org.asmeta.atgt.ui.handlers.ATGTCommandRunner"
         commandId="asmeta.atgt.ui.commands.sampleCommand">
   </handler>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="asmeta.atgt.ui.commands.sampleCommand"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+6">
   </key>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      <menu
            id="asmeta.atgt.ui.menus.sampleMenu"
            label="Sample Menu"
            mnemonic="M">
         <command
               commandId="asmeta.atgt.ui.commands.sampleCommand"
               id="asmeta.atgt.ui.menus.sampleCommand"
               mnemonic="S">
         </command>
      </menu>
   </menuContribution>
   <menuContribution
         locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      <toolbar
            id="asmeta.atgt.ui.toolbars.sampleToolbar">
         <command
               commandId="asmeta.atgt.ui.commands.sampleCommand"
               icon="icons/sample.png"
               id="asmeta.atgt.ui.toolbars.sampleCommand"
               tooltip="Say hello world">
         </command>
      </toolbar>
   </menuContribution>
</extension>


</plugin>
