/.AbstractAndAgentDomain.java._trace
/.AbstractAndAgentDomain.xtendbin
/.AllAsmExamplesTesterWHelper.java._trace
/.AllAsmExamplesTesterWHelper.xtendbin
/.BodyParsingTest.java._trace
/.BodyParsingTest.xtendbin
/.ChooseBoolean.java._trace
/.ChooseBoolean.xtendbin
/.HeaderParsingTest.java._trace
/.HeaderParsingTest.xtendbin
/.InizializationParsingTest.java._trace
/.InizializationParsingTest.xtendbin
/.RuleTest.java._trace
/.RuleTest.xtendbin
/.SimpleParsingTest.java._trace
/.SimpleParsingTest.xtendbin
/AbstractAndAgentDomain.java
/AllAsmExamplesTesterWHelper.java
/BodyParsingTest.java
/ChooseBoolean.java
/HeaderParsingTest.java
/InizializationParsingTest.java
/RuleTest.java
/SimpleParsingTest.java
