<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
		 <category
			description="Validator commands"
			id="org.asmeta.validator.plugin.commands.category"
			name="Validator">
		</category>
      <command
            name="Run AsmetaV"
            categoryId="org.asmeta.validator.plugin.commands.category"
            id="org.asmeta.validator.plugin.commands.runValidatorCommand">
      </command>
      <command
            name="Run AsmetaV and compute coverage"
            categoryId="org.asmeta.validator.plugin.commands.category"
            id="org.asmeta.validator.plugin.commands.runValidatorCoverageCommand">
      </command>
      <command
            name="Run AsmetaV with the Animator"
            categoryId="org.asmeta.validator.plugin.commands.category"
            id="org.asmeta.validator.plugin.commands.runValidatorAnimatorCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.asmeta.validator.plugin.commands.runValidatorCommand"
            class="org.asmeta.validator.plugin.handlers.ValidatorNoCoverageHandler">
      </handler>
      <handler
            commandId="org.asmeta.validator.plugin.commands.runValidatorCoverageCommand"
            class="org.asmeta.validator.plugin.handlers.ValidatorCoverageHandler">
      </handler>
      <handler
            commandId="org.asmeta.validator.plugin.commands.runValidatorAnimatorCommand"
            class="org.asmeta.validator.plugin.handlers.ValidatorAnimatorHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Asmeta"
               id="asmeta.plugin.menus.Asmeta">
         <menu
               label="AsmetaV"
               mnemonic="M"
               id="org.asmeta.validator.plugin.menus.AsmetaVMenu">
            <command
                  commandId="org.asmeta.validator.plugin.commands.runValidatorCommand"
                  icon="icons/runValidator.gif"
                  id="org.asmeta.validator.plugin.menus.runValidatorCommand"
                  label="Run AsmetaV"
                  tooltip="Run AsmetaV">
            </command>
            <command
                  commandId="org.asmeta.validator.plugin.commands.runValidatorAnimatorCommand"
                  icon="icons/runValidatorA.gif"
                  id="org.asmeta.validator.plugin.menus.runValidatorAnimatorCommand"
                  label="Run AsmetaV with the Animator"
                  tooltip="Run AsmetaV with the Animator">
            </command>
            <command
                  commandId="org.asmeta.validator.plugin.commands."
                  icon="icons/runValidatorAndCoverage.gif"
                  id="org.asmeta.validator.plugin.menus.runValidatorCoverageCommand"
                  label="Run AsmetaV and compute coverage"
                  tooltip="Run AsmetaV and compute coverage">
            </command>
         </menu>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.asmeta.validator.plugin.toolbars.asmetavToolbar"
               label="AsmetaV">
            <command
                  commandId="org.asmeta.validator.plugin.commands.runValidatorCommand"
                  icon="icons/runValidator.gif"
                  id="org.asmeta.validator.plugin.toolbars.runValidatorCommand"
                  label="Run AsmetaV"
                  tooltip="Run AsmetaV">
            </command>
            <command
                  commandId="org.asmeta.validator.plugin.commands.runValidatorAnimatorCommand"
                  icon="icons/runValidatorA.gif"
                  id="org.asmeta.validator.plugin.toolbars.runValidatorCommandAnimator"
                  label="Run AsmetaV with Animator"
                  tooltip="Run AsmetaVwith Animator">
            </command>
            <command
                  commandId="org.asmeta.validator.plugin.commands.runValidatorCoverageCommand"
                  icon="icons/runValidatorAndCoverage.gif"
                  id="org.asmeta.validator.plugin.toolbars.runValidatorCoverageCommand"
                  label="Run AsmetaV and compute coverage"
                  tooltip="Run AsmetaV and compute coverage">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="asmeta.plugin.preferences"
            class="org.asmeta.validator.ui.preferences.AsmetaVPreferencePage"
            id="org.asmeta.validator.ui.preferences.AsmetaVPreferencePage"
            name="Asmeta Validator">
      </page>
   </extension>  
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.asmeta.validator.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
