/.HWIntegrationGenerator.java._trace
/.HWIntegrationGenerator.xtendbin
/.InoGenerator.java._trace
/.InoGenerator.xtendbin
/.InputFunctionCreator.java._trace
/.InputFunctionCreator.xtendbin
/.JsonGenerator.java._trace
/.JsonGenerator.xtendbin
/.OutputFunctionCreator.java._trace
/.OutputFunctionCreator.xtendbin
/.SetupFunctionCreator.java._trace
/.SetupFunctionCreator.xtendbin
/.Util.java._trace
/.Util.xtendbin
/HWIntegrationGenerator.java
/InoGenerator.java
/InputFunctionCreator.java
/JsonGenerator.java
/OutputFunctionCreator.java
/SetupFunctionCreator.java
/Util.java
