/.BodyNegativeParsingTest.java._trace
/.BodyNegativeParsingTest.xtendbin
/.HeaderNegativeParsingTest.java._trace
/.HeaderNegativeParsingTest.xtendbin
/.InizializationNegativeParsingTest.java._trace
/.InizializationNegativeParsingTest.xtendbin
/.RuleNegativeParsingTest.java._trace
/.RuleNegativeParsingTest.xtendbin
/.SimpleNegativeParsingTest.java._trace
/.SimpleNegativeParsingTest.xtendbin
/.TermNegativeParsingTest.java._trace
/.TermNegativeParsingTest.xtendbin
/BodyNegativeParsingTest.java
/HeaderNegativeParsingTest.java
/InizializationNegativeParsingTest.java
/RuleNegativeParsingTest.java
/SimpleNegativeParsingTest.java
/TermNegativeParsingTest.java
