/.DefinitionValidator.java._trace
/.DefinitionValidator.xtendbin
/.RuleValidator.java._trace
/.RuleValidator.xtendbin
/.StructureValidator.java._trace
/.StructureValidator.xtendbin
/.TermValidator.java._trace
/.TermValidator.xtendbin
/DefinitionValidator.java
/RuleValidator.java
/StructureValidator.java
/TermValidator.java
